body {
    font-family: 'Arial', sans-serif;
    background-image: url('/static/background1.png'); /* Replace with the actual path to your PNG image */
    background-size: cover;
    background-position: center;
    background-color: #f77575;
    color: #000000;
    margin: 20px;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

h2 {
    color: #000000;
}

/* Reset default table styles */
table {
    border-collapse: collapse;
    width: 100%;
    margin: 1em 0;
    font-size: 16px;
}

/* Table header styles */
th {
    background-color: #960046;
    color: #fff;
    padding: 12px;
    text-align: left;
}

/* Table row styles */
td {
    padding: 12px;
    border-bottom: 1px solid #fbdcdc;
}

/* Alternating row background colors */
tr:nth-child(even) {
    background-color: #edbfbf;
}

/* Hover effect for rows */
tr:hover {
    background-color: #e0f7fa;
}
