{% extends "layout.html" %}

{% block title %}Admin Dashboard{% endblock %}

{% block content %}
    <style>
        .rounded-container {
            background-color: #fa90c7;
            border-radius: 15px;
            padding: 20px;
        }
    </style>
    <div class="rounded-container">
        <div style="text-align: right;">
            <form action="{{ url_for('logout') }}" method="post">
                <input type="submit" value="Logout" class="custom-button">
            </form>
        </div>
        <div style="padding-left: 20px;">
            <h2 class="text-outline">Welkom, {{ user.name }}! Dit is de admin-pagina</h2>
            <p class="text-outline">Jij hoort in gang: {{ user.gang }}</p>
            <p class="text-outline">Je hebt momenteel een boete van {{ user.boete }}€</p>
        
            <form action="{{ url_for('admin_dashboard') }}" method="post">
                <label for="week" class="text-outline">Select Week:</label>
                <select name="week" id="week" class="custom-button">
                    {% for week in weeks %}
                        <option value="{{ week }}" {% if week == selected_week %}selected{% endif %}>{{ week }}</option>
                    {% endfor %}
                </select>
                <input type="submit" value="Zie rooster" class="custom-button">
            </form>
        
            {% set deadline_date = deadline_dates[selected_week] %}
            <h3 class="text-outline" id="deadline-date">Rooster week {{ selected_week }} - Deadline Woensdag {{ week_start_date.strftime('%d/%m') }} om 23:59</h3>
        </div>
        
        <button onclick="copyToClipboard()" class="custom-button" style="margin:20px">Kopieer rooster naar clipboard</button>

        <table>
            <thead>
                <tr>
                    <th class="text-outline">Taak</th>
                    <th class="text-outline">Aangewezen persoon</th>
                    <th class="text-outline">Taak gedaan</th>
                </tr>
            </thead>
            <tbody id="schedule-table-body">
                {% for task, details in schedule.items() %}
                    <tr>
                        <td {% if details.person == user.name %}style="font-weight: bold;"{% endif %} class="text-outline">
                            {% if details.person == user.name %}
                                {{ task }}
                                {% if details.is_done %}
                                {% else %}
                                    <form action="{{ url_for('confirm_task', task=task, week=selected_week) }}" method="post">
                                        <button type="submit" class="custom-button">Bevestig taak</button>
                                    </form>
                                {% endif %}
                            {% else %}
                                {{ task }}
                            {% endif %}
                        </td>
                        <td {% if details.person == user.name %}style="font-weight: bold;"{% endif %} class="text-outline">
                            {% if details.person == user.name %}<strong>{{ details.person }}</strong>{% else %}{{ details.person }}{% endif %}
                        </td>
                        <td {% if details.person == user.name %}style="font-weight: bold;"{% endif %} class="text-outline">
                            {% if details.is_done %}
                                Ja
                            {% else %}
                                Nee
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <h2> Admin functies </h2>
        <h3> Taken ruilen </h3>
        <form action="{{ url_for('admin_dashboard') }}" method="post">
            <label for="week" class="text-outline">Selecteer Week:</label>
            <select name="week" id="week" class="custom-button">
                {% for week in weeks %}
                    <option value="{{ week }}" {% if week == selected_week %}selected{% endif %}>{{ week }}</option>
                {% endfor %}
            </select>

            <label for="user1" class="text-outline">Selecteer persoon:</label>
            <select name="user1" id="user1" class="custom-button">
                {% for user_option in users %}
                    <option value="{{ user_option }}">{{ user_option }}</option>
                {% endfor %}
            </select>

            <label for="user2" class="text-outline">Selecteer persoon:</label>
            <select name="user2" id="user2" class="custom-button">
                {% for user_option in users %}
                    <option value="{{ user_option }}">{{ user_option }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Ruil taak" class="custom-button">
        </form>
        <h3> Boetes </h3>
        <form action="{{ url_for('add_boetes') }}" method="post">
            <label for="week_boetes" class="text-outline">Selecteer Week:</label>
            <select name="week_boetes" id="week_boetes" class="custom-button">
                {% for week in weeks %}
                    <option value="{{ week }}" {% if week == selected_week %}selected{% endif %}>{{ week }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Voeg Boetes Toe" class="custom-button">
        </form>
        <h3> Boetes Betalen </h3>
        <form action="{{ url_for('clear_individual_boete') }}" method="post">
            <label for="user_boetes" class="text-outline">Selecteer persoon:</label>
            <select name="user_boetes" id="user_boetes" class="custom-button">
                {% for user_option in users %}
                    <option value="{{ user_option }}">{{ user_option }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Boete Betaald" class="custom-button">
        </form>
        <br>
        <form action="{{ url_for('clear_all_boetes') }}" method="post">
            <label for="user_boetes" class="text-outline">Alle boetes betalen:</label>
            <input type="submit" value="Alle Boetes Betaald" class="custom-button">
        </form>        
    </div>
    <script>
        function copyToClipboard() {
            var tableBody = document.getElementById('schedule-table-body');
            var selectedWeek = document.getElementById('week').value;
            var deadlineDateElement = document.getElementById('deadline-date');
            var header = getHeader(selectedWeek, deadlineDateElement.textContent);
    
            var textarea = document.createElement('textarea');
            textarea.value = header + '\n' + generateClipboardText(tableBody);

            // Wrap the text inside a <pre> tag
            var preElement = document.createElement('pre');
            preElement.appendChild(document.createTextNode(textarea.value));
    
            document.body.appendChild(textarea);
            textarea.select();
            textarea.setSelectionRange(0, 99999); /* For mobile devices */
            document.execCommand('copy');
            document.body.removeChild(textarea);
            alert('Schedule copied to clipboard!');
        }
    
        function generateClipboardText(tableBody) {
            var text = '';

            // Use a fixed width for both columns
            var taskWidth = 40;
            var personWidth = 20;

            for (var i = 0; i < tableBody.rows.length; i++) {
                var cells = tableBody.rows[i].cells;

                // Check if the row contains a button (assuming the button is in the last cell)
                var hasButton = cells.length > 2 && cells[2].querySelector('button') !== null;

                // Skip rows with buttons
                if (hasButton) {
                    continue;
                }

                // Extract the task and assigned person content
                var taskContent = cells[0].innerText.trim();
                var assignedPersonContent = cells[1].innerText.trim();

                // Pad both columns with spaces to fixed widths
                var formattedTask = taskContent.padEnd(taskWidth, ' ');
                var formattedPerson = assignedPersonContent.padEnd(personWidth, ' ');

                text += formattedTask + formattedPerson + '\n';
            }

            return text;
        }


        function getHeader(selectedWeek, deadlineDate) {
            var header = '*' + deadlineDate + '*';
            return header;
        }
    </script>
{% endblock %}
