{% extends "layout.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <div style="text-align: right;">
        <form action="{{ url_for('logout') }}" method="post">
            <input type="submit" value="Logout">
        </form>
    </div>
    <h2>Welkom, {{ user.name }}! Jij bent de Admin</h2>
    <p>Jij hoort in gang: {{ user.gang }}</p>
    <p>Je hebt momenteel een boete van {{ user.boete }}€</p>

    <h3>Rooster week 48 - Deadline Woensdag 29/11 om 23:59</h3>

    <table>
        <thead>
            <tr>
                <th>Task</th>
                <th>Assigned Person</th>
            </tr>
        </thead>
        <tbody>
            {% for task, person in schedule.items() %}
                <tr>
                    <td>{{ task }}</td>
                    <td>{{ person }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
