{% extends "layout.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <div style="text-align: right;">
        <form action="{{ url_for('logout') }}" method="post">
            <input type="submit" value="Logout">
        </form>
    </div>
    <h2>Welkom, {{ user.name }}!</h2>
    <p>Jij hoort in gang: {{ user.gang }}</p>
    <p>Je hebt momenteel een boete van {{ user.boete }}€</p>

    <form action="{{ url_for('dashboard') }}" method="post">
        <label for="week">Select Week:</label>
        <select name="week" id="week">
            {% for week in weeks %}
                <option value="{{ week }}" {% if week == selected_week %}selected{% endif %}>{{ week }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="View Schedule">
    </form>

    <h3>Rooster week {{ selected_week }} - Deadline Woensdag 29/11 om 23:59</h3>

    <table>
        <thead>
            <tr>
                <th>Task</th>
                <th>Assigned Person</th>
            </tr>
        </thead>
        <tbody>
            {% for task, person in schedule.items() %}
                <tr>
                    <td>{% if person == user.name %}<strong>{{ task }}</strong>{% else %}{{ task }}{% endif %}</td>
                    <td>{% if person == user.name %}<strong>{{ person }}</strong>{% else %}{{ person }}{% endif %}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
