{% extends "layout.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <style>
        .rounded-container {
            background-color: #fa90c7;
            border-radius: 15px;
            padding: 20px;  /* Add padding for better appearance */
        }
    </style>

    <div class="rounded-container">
        <div style="text-align: right;">
            <form action="{{ url_for('logout') }}" method="post">
                <input type="submit" value="Logout">
            </form>
        </div>
        <div style="padding-left: 20px;">
            <h2 class="text-outline">Welkom, {{ user.name }}!</h2>
            <p class="text-outline">Jij hoort in gang: {{ user.gang }}</p>
            <p class="text-outline">Je hebt momenteel een boete van {{ user.boete }}€</p>
        
            <form action="{{ url_for('dashboard') }}" method="post">
                <label for="week" class="text-outline">Select Week:</label>
                <select name="week" id="week">
                    {% for week in weeks %}
                        <option value="{{ week }}" {% if week == selected_week %}selected{% endif %}>{{ week }}</option>
                    {% endfor %}
                </select>
                <input type="submit" value="View Schedule" class="text-outline">
            </form>
        
            {% set deadline_date = deadline_dates[selected_week] %}
            <h3 class="text-outline">Rooster week {{ selected_week }} - Deadline Woensdag {{ week_start_date.strftime('%d/%m') }} om 23:59</h3>
        </div>
        

        <table>
            <thead>
                <tr>
                    <th class="text-outline">Task</th>
                    <th class="text-outline">Assigned Person</th>
                    <th class="text-outline">Task done</th>
                </tr>
            </thead>
            <tbody>
                {% for task, details in schedule.items() %}
                    <tr>
                        <td {% if details.person == user.name %}style="font-weight: bold;"{% endif %} class="text-outline">
                            {% if details.person == user.name %}
                                {{ task }}
                                {% if details.is_done %}
                                {% else %}
                                    <form action="{{ url_for('confirm_task', task=task, week=selected_week) }}" method="post">
                                        <button type="submit" class="text-outline">Confirm Task</button>
                                    </form>
                                {% endif %}
                            {% else %}
                                {{ task }}
                            {% endif %}
                        </td>
                        <td {% if details.person == user.name %}style="font-weight: bold;"{% endif %} class="text-outline">
                            {% if details.person == user.name %}<strong>{{ details.person }}</strong>{% else %}{{ details.person }}{% endif %}
                        </td>
                        <td {% if details.person == user.name %}style="font-weight: bold;"{% endif %} class="text-outline">
                            {% if details.is_done %}
                                Yes
                            {% else %}
                                No
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
