{% extends "layout.html" %}

{% block title %}Login{% endblock %}

{% block content %}
    <div style="display: flex; align-items: center; height: 75vh; justify-content: center; text-align: center;">
        <form method="post" action="{{ url_for('login') }}" style="display: inline-block; text-align: left;">
            <h2>Login</h2>
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>
            <br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <br>
            <input type="submit" value="Login" class="custom-button">
        </form>
    </div>
{% endblock %}
